.header{
  display: block;
  background-color: #fff;
  height: 90px;
  width: 100%;
}
ul, li{
  margin: 0;
  padding: 0;
  list-style: none;
}
.container{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 81%;
  margin: 0 auto;
  padding: 25px 0 20px 0;
}
.logo{
  padding: 0 25px;
}
nav{
  width: 40%;
}

.menu{
    & .menu-list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
      & li>a{
        font-size: 1.2rem;
        color: #6c6c6c;
        padding-bottom: 1rem;
      }
      & li>a:hover{
        cursor: pointer;
        border-bottom: 5px solid #5094f2;
      }
}
  &-mobile_icon{
    display: none;
  }
  &-mobile-list{
    display: none;
  }
}
@media (max-width: 640px) {
  .menu .menu-list {
    display: none;
  }
}