mixin image(linkName)
    .advantages-cart
        img(src=linkName)
        .advantages-cart__text
            h1 Contrary to popular
            p Lorem Ipsum is not simply random text. It has roots in a piece

+image("assets/img/adv1.png")
+image("assets/img/adv2.png")
+image("assets/img/adv3.png")
