.container
    .logo
        img.logo__item(src="assets/img/logo.png")
    nav
        .menu
            ul(class="menu-list" id="topMenu")
                li.menu-list__item
                    a(href="#") Home
                li.menu-list__item
                    a(href="#") Products
                li.menu-list__item
                    a(href="#") Services
                li.menu-list__item
                    a(href="#") Contact
            a(href="#" id="menu" class="menu-mobile_icon")
                span
