.sl
    .sl_slide
        .main-content
            .main-content_right
                img(src="assets/img/iphone.png")
            .main-content_left
                h1 Lorem Ipsum is simply
                span dummy text of the
                span printing & typesetting
                a(href="#") Sign up now
    .sl_slide
        .main-content
            .main-content_right
                img(src="assets/img/iphone.png")
            .main-content_left
                h1 Lorem Ipsum is simply
                span dummy text of the
                span printing & typesetting
                a(href="#") Sign up now